.footer {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  padding-top: 100px;
}

.footer__logo {
  text-align: right;
  margin-bottom: 1rem;
}

.footer__logo img {
  height: 3rem;
  width: auto;
}

.footer__copy {
  text-align: left;
  font-size: 1rem;
  padding-left: 50px;
}
